// fonts 

$font-aleo:'Aleo';
$font-josefin: 'Josefin Sans', sans-serif;
$font-icomoon: 'icomoon';

//color 

$color-white: #fff;
$color-blue: #127bb7;
$color-light-blue: #5474fd;
$color-dark-blue: #44559e;
$color-darkness-blue: #394994;
$color-red: #ff6363;
$color-dark-gray: #333333;
$color-gray: #232323;

//font-size

$size-basic: 16px;
$size-h1: 48px;
$size-lagger: 24px;
$size-less: 14px;
$size-h2: 36px;
$size-h3: 20px;