@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo-Regular.woff2') format('woff2'),
        url('../fonts/Aleo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?rqvbdu');
    src:  url('../fonts/icomoon.eot?rqvbdu#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?rqvbdu') format('truetype'),
      url('../fonts/icomoon.woff?rqvbdu') format('woff'),
      url('../fonts/icomoon.svg?rqvbdu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }